body{
font-family: "Open Sans" !important

}
.container{
    padding: 15px;
    background: #f9f9f9
}

.horizontalContainer{
    padding: 8px
}

.skillsHeading{
    margin: 0 auto;
    font-size: 20px;
    color: black;
}

.intro{
    margin-top: -10px;
    margin-bottom: 60px;
    color: #798188;
    font-size: 1.2rem;
    width: 80%;

}

.hi{
    font-size: 2rem;
    color: #161718;

}
.skillsImg{
    margin-top: 30px !important;
    height: 60px;
    width: 2em;
    display: none;
}
.subHeader{
    font-size: 1.1rem !important;
    color: #798188;
    font-weight: 500 !important;
}
.skillName{
    margin-top: 10px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 1.1rem !important ;
    color: #64ffda !important;
}
.skillColor{
    color: #64ffda;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 1.1rem !important;
}

.skillArray{
    padding-bottom: 50px !important;
}
.listContainer{
    background: #0a192f;
    padding: 20px;
    border-radius: 20px;

    margin-bottom: 20px;
    display: flex;

    flex-direction: column;
}



.intro span{
    color: orange;
}

.skill img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.skillContainer{
    display: flex;

    flex-wrap: wrap;
    border-radius: 20px;
    margin-bottom: 20px;

    flex-direction: column;
}
.skill{
    display: flex;
    padding-right: 50px;

color: #64ffda;

    font-size: 0.9rem;

}

.innerContainer{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.categoryName{
    color: #ccd6f6;

}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .skill {
        width: 50%;

    }

}
